@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&family=Berkshire+Swash&family=Roboto:wght@300;400&family=Spicy+Rice&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Be Vietnam Pro";
  min-height: 100vh;
  background: #d9d9d9;
}

.boton__img {
  padding-right: 1rem;
}

.resumen__aceptacion {
  height: 30%;
  display: flex;
  align-items: center;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #383838;
}

.mobile_resumen__aceptacion {
  height: 30%;
  display: flex;
  align-items: center;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #383838;
}

.resumen__aceptacion a {
  color: #d02932;
  padding-left: 5px;
}

.mobile__resumen__aceptacion a {
  color: #d02932;
  padding-left: 5px;
}

.message {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #888b8e;
}

.opcion_titulo {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #888b8e;
}

.opcion_subtitulo {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;
  color: #c1c1c1;
}

.invert {
  background: #fafafa;
  color: #e32a31;
}

.detalle__titulo {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #c1c1c1;
}

.boletas__item__details {
  padding: 2px 8px;
  gap: 2px;
  border: 1px solid #c1c1c1;
  border-radius: 24px;
}

.item__subtitulo {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;
  padding-top: 0.2rem;
  color: #888b8e;
}

.item__titulo {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #4e5358;
}

.boton__perfil {
  padding-left: 1rem;
}

.title {
  padding-bottom: 0.5rem;
  font-family: "Be Vietnam Pro";
}

.opcion__centrada {
  display: grid;
  justify-content: center;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  height: 25%;
  align-items: center;
  color: #e32a31;
}

.resumen__pasos {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #c1c1c1;
}

.resumen__mensaje {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  height: 10%;
  color: #4e5358;
}

.informativo {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  font-family: "Roboto Flex";
  color: #4e5358;
}

.container__filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
  width: 501px;
  height: 404px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(78, 83, 88, 0.05);
  border-radius: 16px;
}

.title {
  font-family: "Be Vietnam Pro";
  display: flex;
  padding-top: 1rem;
  justify-content: center;
}

.title__item {
  color: #c1c1c1;
}

.close {
  position: absolute;
  right: 2rem;
}

.filter__menu__item {
  list-style: none;
  text-decoration: none;
  display: grid;
  align-items: center;
  width: 85%;
  justify-self: center;
  height: 4rem;
  text-align: center;
  border-bottom: solid #ecf1f8;
}

.filter__menu__item:hover {
  background-color: #fafafa;
  color: #d02932;
  width: 100%;
}

.container__filters__items {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.boton__principal {
  width: 95%;
  height: 58px;
  background: #e32a31;
  flex-grow: 0;
  color: white;
  border-radius: 8px;
  border-style: none;
  border: 1px solid none;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boton__principal:disabled {
  width: 95%;
  height: 58px;
  background: #E4E7EB;
  flex-grow: 0;
  color: #888b8e;
  border-radius: 8px;
  border-style: none;
  border: 1px solid none;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container__filters {
    width: 100vw;
  }
  .container__main {
    width: 100%;
  }
  .botones__opciones {
    grid-template-columns: 1fr;
  }
  .mobile__header {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .container__principal {
    display: grid;
    width: 100%;
    grid-template-areas: "head" "opcion";
    grid-template-columns: 1fr;
    grid-template-rows: 7vh auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
  }
}

/*# sourceMappingURL=filters.css.map */
