//FONTS
$ff-principal: "Be Vietnam Pro"; // Fuente principal
$ff-input : 'Roboto Flex'; // Fuente de inputs y de algunos mensajes informativos

// COLORES
// Pantalla
$bg-principal: #d9d9d9; // Fondo de pantalla principal
$bg-menu: #ffffff; // Fondo de menus

//Texto
$ts-boton: #d02932; // Texto de rojizo en botones
$tl-boton: #888b8e; // Texto de opciones deshabilitados
$tg-titulo: #c1c1c1; // Texto que indica los periodos del préstamo
$th-titulo: #383838; // Texto a títulos de pantallas
$th-prestamo: #888b8e; // Texto que se muestra en los items en ventana de prestamos
$th-informa : #4e5358; // Texto informativo, por lo general se muestra incluso con ícono (i)
$tl-informa : #ffffff; // Texto light informativo

// menu

$bm-activo : #4e5358; // Fondo de opciones activas del menú
$bm-activo-menu-rojo : #f53731; // Fondo de opciones activas del menú fondo rojo

// Botones
$bb-principal : #e32a31; // Fondo de botones de opciones 
$bb-filtro : #c1c1c1; // Fondo de botones de filtro
$bw-boton : white; // Fondo de botones blanco puros
$bb-invert: #fafafa; // Fondo de botones con hover
$bb-disabled : #E4E7EB; // Fondo de botones deshabilitados

// Cajas
$bl-caja : #ecf1f8; // Bordes de contenedores principales
$bs-caja: #e1e7ed; // Bordes de de contenedores secundarios
$bg-light: #ffffff; // Fondo de contenedores principales