@use 'initials';
@use 'menu';
@use 'variables';
@use 'public';
@use 'mixinsfunc';
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&family=Berkshire+Swash&family=Roboto:wght@300;400&family=Spicy+Rice&display=swap");

.logo__access {
    padding: 3rem;
    justify-self: center;
    width: 100%;
}

.boton__principal {
    @include mixinsfunc.boton-color(58px, 90%, variables.$bb-principal, white, none, 400, 16px, variables.$ff-principal);
}

.boton__principal:disabled {
    @include mixinsfunc.boton-color(58px, 90%, variables.$bb-disabled, variables.$tl-boton, none, 400, 16px, variables.$ff-principal);
}

.boton__invert {
    @include mixinsfunc.boton-color(58px, 90%, variables.$bb-invert, variables.$bb-principal, none, 400, 16px, variables.$ff-principal);
}

.mobile__header {
    display: none;
}

.container__main {
    width: 40%;
    grid-template-columns: 1fr;
    justify-content: center;

}

.container__principal {
    display: grid;
    width: 100%;
    grid-template-areas:
        "opcion";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;

}

.boton__cancelar {
    grid-area: opcion;
    @include mixinsfunc.fondo-alerta-cancelacion;
    display: grid;
    width: 100%;
    grid-template-areas:
        "mensaje"
        "imagen"
        "botones";
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr 2fr;
    padding: 1rem;
    gap: 1rem;
}

.informativo {
    height: .5rem;
    padding-top: .5rem;
    font-family: variables.$ff-principal;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: variables.$tl-informa;
}

.informa {
    grid-area: mensaje;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
}

.boton__img {
    justify-self: center;
}

.boton__menu {
    padding: 0;
    justify-self: flex-end;
}

.logo__access {
    padding: 0;
    justify-self: left;
    width: 8rem;
}

.imgsolicitud {
    display: grid;
    height: 200px;
    justify-self: center;
    padding: 1.5rem;
}


.botones__opciones {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

@media screen and (max-width: 500px) {


    .container__main {
        width: 100%;
    }

    .botones__opciones {
        grid-template-columns: 1fr;
    }

    .mobile__header {
        grid-area: head;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .container__principal {
        display: grid;
        width: 100%;
        grid-template-areas:
            "head"
            "opcion";
        grid-template-columns: 1fr;
        grid-template-rows: 7vh auto;
        padding: 1rem;
        gap: 1rem;
        justify-content: center;

    }


}