@use 'initials';
@use 'menu';
@use 'variables';
@use 'public';
@use 'mixinsfunc';
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&family=Berkshire+Swash&family=Roboto:wght@300;400&family=Spicy+Rice&display=swap");

.boton__user {
    display: flex;
    justify-self: center;
    padding-right: 1rem;
}

.logo__access {
    padding: 3rem;
    justify-self: center;
    width: 100%;
}

.boton__principal {
    @include mixinsfunc.boton-color(58px, 100%, variables.$bb-principal, white, none, 400, 16px, variables.$ff-principal);
}

.boton__principal:disabled {
    @include mixinsfunc.boton-color(58px, 100%, variables.$bb-disabled, variables.$tl-boton, none, 400, 16px, variables.$ff-principal);
}

.container__principal {
    display: grid;
    width: 100%;
    grid-template-areas:
        "head head"
        "users users"
        "boletas boletas";
    grid-template-rows: 5rem 5rem 70vh;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    padding-top: 1rem;
    @include mixinsfunc.gradiente;
}

.options__user {
    grid-area: head;
    display: flex;
    align-items: center;
    font-family: variables.$ff-principal;
    justify-content: end;
}

.user_options {
    font-family: variables.$ff-principal;
    grid-area: users;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.solicitud {
    display: flex;
    align-items: center;
}

.amount {
    padding-left: 1.5rem;
}

.prestamo {
    grid-area: boletas;
    display: grid;
    margin-top: 20px;
    gap: 2rem;
    grid-template-columns: 60% 38%;
}

.prestamo__contenedor {
    background: variables.$bg-menu;
    height: auto;
    border: 1px solid variables.$bl-caja;
    border-radius: 16px;
    padding: 4rem;
    z-index: 60;
}

.prestamo__cabecera {
    height: 25%;
}

.container__boton {
    display: grid;
    width: 96%;
    grid-template-columns: 20% 80%;
    align-items: center;
    gap: 1rem;
}

.prestamo__titulo {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.pagos__item {
    display: grid;
    grid-template-columns: 25% 60% 20% 10%;
    align-items: center;
    height: auto;
}

.boletas__contenedor {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 150px 10px auto;
}

.prestamo__item {
    display: grid;
    grid-template-columns: 5% 95%;
    border-width: 0.3px;
    border-bottom: solid variables.$bs-caja;
    padding: 1.1rem;
    gap: 1rem;
}

.resumen__contenedor {

    height: auto;
    border: 1px solid variables.$bl-caja;
    border-radius: 16px;
    padding: 2rem;
    padding-top: 4rem;
}

.cabecera__qr {
    display: grid;
    height: 34vh;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    font-family: variables.$ff-principal;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: variables.$bm-activo;
    padding-bottom: 10%;
}

.contenedor__qr {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
    width: 100%;
    height: 11.25rem;
    background: variables.$bb-invert;
    border: 1px solid variables.$bs-caja;
    border-radius: 16px;
}