<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Main</title>
  </head>
  <body>
    <div class="container__main">
      <div class="header">
        <div class="navbar">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />
          <ul class="nav__menu">
            <li class="nav__menu__item">
              <img class="boton__img" src="/img/icons/home.svg" /><a
                href="#"
                class="nav__link"
                >Inicio</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__img" src="/img/icons/document.svg" /><a
                href="#"
                class="nav__link"
                >Boletas</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__img" src="/img/icons/card.svg" /><a
                href="#"
                class="nav__link"
                >PrestaCard</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="container__principal">
        <div class="options__user">
          <img class="boton__img" src="/img/icons/arrow-down.svg" />
          <div class="user">
            <p class="h3">Valeria Paola Coell...</p>
            <!-- <p class="view__profile">Ver perfil</p> -->
          </div>
          <img class="boton__perfil" src="/img/icons/boton-user.svg" />
        </div>

        <div class="mobile__header">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />

          <img class="boton__menu" src="/img/icons/boton-hamburguesa.svg" />
        </div>
        <div class="container__mobile">
          <div class="user">
            <h1>Hola Valeria</h1>
            <p class="message">¿Qué deseas ver hoy?</p>
          </div>
        </div>
        <div class="request">
          <div class="solicitud">
            <img class="imgsolicitud" src="/img/icons/movil.svg" alt="" />
            <div class="amount">
              <h3 class="opcion_titulo">Solicitar s/300</h3>
              <p class="opcion_subtitulo">en tu PrestaCard</p>
            </div>
            <img class="menu-movil" src="/img/icons/boton-menu.svg" alt="" />
          </div>
          <button class="boton__principal">Solicitar s/300</button>
        </div>

        <div class="voucher">
          <div class="solicitud">
            <img class="imgvoucher" src="/img/icons/voucher.svg" alt="" />
            <div class="amount">
              <h3 class="opcion_titulo">Boleta de Julio</h3>
              <p class="opcion_subtitulo">Más reciente</p>
            </div>
            <img class="menu-movil" src="/img/icons/boton-menu.svg" alt="" />
          </div>
          <div class="container__boton">
            <button class="boton__invert">Enviar</button>

            <button class="boton__principal">Descargar Julio</button>
          </div>
        </div>

        <div class="boton__descarga">Descargar boleta de Julio</div>
        <div class="boton__envio">Enviar a valeriacoello1@gmail...</div>
        <div class="menu">
          <div class="boton__boletas">
            <img class="boton__img" src="/img/icons/boletas.svg" alt="" />
            <div class="opcion__menu">
              <div>Boletas</div>
              <div class="menu__description">
                Descarga o envía tus boletas de pago
              </div>
            </div>
            <img class="boton__img" src="/img/icons/menu-white.svg" alt="" />
          </div>
          <div class="boton__prestacard">
            <img class="boton__img" src="/img/icons/card-red.svg" alt="" />
            <div class="opcion__menu">
              <div>PrestaCard</div>
              <div class="menu__description">
                Te prestamos s/300 para tus compras
              </div>
            </div>
            <img class="boton__img" src="/img/icons/menu-white.svg" alt="" />
          </div>
        </div>

        <div class="boton__envio">Enviar a valeriacoello1@gmail...</div>
        <div class="prestamo">
          <div class="prestamo__titulo">
            <h3 class="detalle__titulo">PrestaCard</h3>
            <button class="boton__filtro">VER TODO</button>
          </div>
          <div class="pagos__item">
            <img class="item__central" src="/img/icons/check.svg" alt="" />
            <div>
              <h3 class="opcion_titulo">Pagado</h3>
              <p class="item__subtitulo">Últ. pago: 5 Jul</p>
            </div>
            <div>
              <h3 class="opcion_titulo item__derecha">s/300</h3>
              <p class="item__subtitulo item__derecha">4/4 cuotas</p>
            </div>
            <img src="/img/icons/boton-menu.svg" alt="" />
          </div>
          <div class="pagos__item">
            <img class="item__central" src="/img/icons/check.svg" alt="" />
            <div>
              <h3 class="opcion_titulo">Pagado</h3>
              <p class="item__subtitulo">Últ. pago: 5 Jul</p>
            </div>
            <div>
              <h3 class="opcion_titulo item__derecha">s/300</h3>
              <p class="item__subtitulo item__derecha">4/4 cuotas</p>
            </div>
            <img src="/img/icons/boton-menu.svg" alt="" />
          </div>
          <div class="pagos__item">
            <img class="item__central" src="/img/icons/check.svg" alt="" />
            <div>
              <h3 class="opcion_titulo">Pagado</h3>
              <p class="item__subtitulo">Últ. pago: 5 Jul</p>
            </div>
            <div>
              <h3 class="opcion_titulo item__derecha">s/300</h3>
              <p class="item__subtitulo item__derecha">4/4 cuotas</p>
            </div>
            <img src="/img/icons/boton-menu.svg" alt="" />
          </div>
        </div>
        <div class="boleta">
          <div class="prestamo__titulo">
            <h3 class="detalle__titulo">Boletas</h3>
            <button class="boton__filtro">VER TODO</button>
          </div>
          <div class="boletas__contenedor">
            <div class="boletas__item">
              <div>
                <h3 class="item__titulo">Julio</h3>
                <div class="boletas__item__informacion">
                  <img class="imgrequest" src="/img/icons/plus.svg" alt="" />

                  <p class="boletas__item__details item__subtitulo color__gray">
                    VACAS
                  </p>
                  <p class="boletas__item__details item__subtitulo color__gray">
                    GRATI
                  </p>
                  <p class="boletas__item__details item__subtitulo color__gray">
                    LIQUI
                  </p>
                </div>
              </div>
              <div>
                <h3 class="item__titulo item__central">s/5,700</h3>
              </div>
            </div>
            <div class="boletas__item">
              <div>
                <h3 class="item__titulo">Junio</h3>
                <div class="boletas__item__informacion">
                  <p class="item__subtitulo color__gray">SÓLO HABERES</p>
                </div>
              </div>
              <div>
                <h3 class="item__titulo item__central">s/1,900</h3>
              </div>
            </div>
            <div class="boletas__item">
              <div>
                <h3 class="item__titulo">Mayo</h3>
                <div class="boletas__item__informacion">
                  <p class="item__subtitulo color__gray">SÓLO HABERES</p>
                </div>
              </div>
              <div>
                <h3 class="item__titulo item__central">s/1,900</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
