<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/prestacard.css" />
    <title>Prestacard</title>
  </head>
  <body>
    <div class="container__main">
      <div class="header">
        <div class="navbar">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />
          <ul class="nav__menu">
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/home.svg" /><a
                href="#"
                class="nav__link"
                >Inicio</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/document.svg" /><a
                href="#"
                class="nav__link"
                >Boletas</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/card.svg" /><a
                href="#"
                class="nav__link"
                >PrestaCard</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="container__principal">
        <div class="options__user">
          <img class="boton__user" src="/img/icons/arrow-down.svg" />
          <div class="user">
            <p class="h3">Valeria Paola Coell...</p>
            <!-- <p class="view__profile">Ver perfil</p> -->
          </div>
          <img class="boton__perfil" src="/img/icons/boton-user.svg" />
        </div>
        <div class="mobile__header">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />

          <img class="boton__menu" src="/img/icons/boton-hamburguesa.svg" />
        </div>
        <div class="user__options">
          <div>
            <h1 class="title">PrestaCard</h1>
            <p class="message">Te prestamos s/300 para tus compras.</p>
          </div>
          <div class="container__boton">
            <button class="boton__principal">Solicitar s/300</button>
          </div>
          <img class="imgsolicitud" src="/img/icons/movil.svg" alt="" />
        </div>
        <div class="mobile__voucher">
          <div>
            <h1 class="title">PrestaCard</h1>
            <p class="message">Te prestamos s/300 para tus compras.</p>
          </div>
          <div class="container__boton">
            <button class="boton__principal">Solicitar s/300</button>
          </div>
          <img class="imgsolicitud" src="/img/icons/movil.svg" alt="" />
        </div>
        <div>
          <button class="boton__movil">Solicitar s/300</button>
        </div>

        <div class="boleta">
          <div class="prestamo__titulo">
            <h3 class="detalle__titulo">2022</h3>
            <button class="boton__filtro">FILTRAR</button>
          </div>
          <div class="boleta__cabecera">
            <p>ESTADO</p>
            <p>ÚLTIMO PAGO</p>
            <p>CTAS.PAGADAS</p>
            <p class="item__derecha">MONTO</p>
          </div>
          <div class="boletas__contenedor">
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Jul 5</p>
                </div>
              </div>
              <div>
                <p class="item__text">4/4 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Feb 12</p>
                </div>
              </div>
              <div>
                <p class="item__text">2/2 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="item__periodo">2021</div>
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Dic 21</p>
                </div>
              </div>
              <div>
                <p class="item__text">1/1 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Oct 31</p>
                </div>
              </div>
              <div>
                <p class="item__text">3/3 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mobile__boleta">
          <div class="prestamo__titulo">
            <h3 class="detalle__titulo">2022</h3>
            <button class="boton__filtro">FILTRAR</button>
          </div>
          <div class="boleta__cabecera">
            <p>ESTADO</p>
            <p>ÚLTIMO PAGO</p>
            <p>CTAS.PAGADAS</p>
            <p class="item__derecha">MONTO</p>
          </div>
          <div class="boletas__contenedor">
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Jul 5</p>
                </div>
              </div>
              <div>
                <p class="item__text">4/4 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Feb 12</p>
                </div>
              </div>
              <div>
                <p class="item__text">2/2 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="item__periodo">2021</div>
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Dic 21</p>
                </div>
              </div>
              <div>
                <p class="item__text">1/1 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="boletas__item">
              <div class="item__detalle">
                <img class="imgrequest" src="/img/icons/check.svg" alt="" />
                <h3 class="item__titulo">Pagado</h3>
              </div>
              <div class="informacion__pago">
                <div class="mensaje-pago">Últ.pago</div>
                <div>
                  <p class="item__fecha">Oct 31</p>
                </div>
              </div>
              <div>
                <p class="item__text">3/3 cuotas</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/300</h3>
                <img
                  class="imgrequest"
                  src="/img/icons/boton-menu.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
