<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/prestacard-solicitud.css" />
    <title>Prestacard solicitud</title>
  </head>
  <body>
    <div class="container__main">
      <div class="header">
        <div class="navbar">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />
          <ul class="nav__menu">
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/home.svg" /><a
                href="#"
                class="nav__link"
                >Inicio</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/document.svg" /><a
                href="#"
                class="nav__link"
                >Boletas</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/card.svg" /><a
                href="#"
                class="nav__link"
                >PrestaCard</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="container__principal">
        <div class="options__user">
          <img class="boton__user" src="/img/icons/arrow-down.svg" />
          <div class="user">
            <p class="h3">Valeria Paola Coell...</p>
            <!-- <p class="view__profile">Ver perfil</p> -->
          </div>
          <img class="boton__perfil" src="/img/icons/boton-user.svg" />
        </div>
        <div class="mobile__header">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />

          <img class="boton__menu" src="/img/icons/boton-hamburguesa.svg" />
        </div>
        <div class="user__options">
          <div>
            <h1 class="title">PrestaCard</h1>
            <p class="message">Te prestamos s/300 para tus compras.</p>
          </div>
        </div>

        <div class="prestamo">
          <div class="prestamo__contenedor">
            <div class="prestamo__cabecera">
              <div class="solicita">
                <img class="cerrar" src="/img/icons/arrow-left-black.svg" />
                <div class="solicita__total">
                  <p class="solicita__titulo">Resumen de solicitud</p>
                  <p class="solicita__pasos">Paso 2/4</p>
                </div>
                <img class="cerrar" src="/img/icons/close.svg" />
              </div>
              <h1 class="solicitud__titulo">Solicitar</h1>
              <h2 class="solicitud__importe">s/ 300</h2>
            </div>
            <div class="prestamo__detalle">
              <div class="prestamo__item">
                <p class="prestamo__titulo">Fecha</p>
                <p class="prestamo__dato">May 23, 2022</p>
              </div>
              <div class="prestamo__item">
                <p class="prestamo__titulo">Nº de cuotas</p>
                <p class="prestamo__dato">4 cuotas</p>
              </div>
              <div class="prestamo__item">
                <p class="prestamo__titulo">Valor de cuota</p>
                <p class="prestamo__dato">s/85</p>
              </div>
              <div class="prestamo__item">
                <p class="prestamo__titulo">Próx. fechas de descuento</p>
                <p class="prestamo__dato">Jul 23, 2022</p>
              </div>
              <div class="prestamo__item">
                <p class="prestamo__titulo"></p>
                <p class="prestamo__dato">Ago 23, 2022</p>
              </div>
              <div class="prestamo__item desktop">
                <p class="prestamo__titulo"></p>
                <p class="prestamo__dato">Sep 23, 2022</p>
              </div>
              <div class="prestamo__item desktop">
                <p class="prestamo__titulo"></p>
                <p class="prestamo__dato">Oct 23, 2022</p>
              </div>
            </div>
          </div>
          <div class="mobile__resumen__aceptacion">
            Acepto los <a href="#"> términos y condiciones</a>
            <div class="aceptacion">
              <label>
                <input type="radio" name="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="mobile__boton">
            <button disabled class="boton__principal">Continuar</button>
          </div>
          <div class="resumen__contenedor">
            <h1 class="resumen__pasos">2/3</h1>
            <h2 class="resumen__mensaje">Revisa el resumen de tu solicitud</h2>
            <div class="resumen__aceptacion">
              Acepto los <a href="#"> términos y condiciones</a>
              <div class="aceptacion">
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>

            <div class="container__boton">
              <img class="boton__user" src="/img/icons/arrow-left.svg" />
              <button class="boton__principal">Continuar</button>
            </div>
            <div class="opcion__centrada">
              <a>Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
