<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/prestacard-dni.css" />
    <title>Prestacard Validar DNI</title>
  </head>
  <body>
    <div class="container__main">
      <div class="container__principal">
        <div class="mobile__header">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />

          <img class="boton__menu" src="/img/icons/boton-hamburguesa.svg" />
        </div>
        <div class="prestamo">
          <div class="prestamo__contenedor">
            <div class="prestamo__cabecera">
              <div class="solicita">
                <img class="cerrar" src="/img/icons/arrow-left-black.svg" />
                <div class="solicita__total">
                  <p class="solicita__titulo">Verificación del DNI</p>
                  <p class="solicita__pasos">Paso 4/4</p>
                </div>
                <img class="cerrar" src="/img/icons/close.svg" />
              </div>
              <div class="mobile__face">
                <img src="/img/icons/dni.svg" />
              </div>
            </div>

            <div class="informativo">
              En un ambiente iluminado sostén el celular sobre su DNI y
              enmárcalo en el recuadro.
            </div>
            <div class="informa">
              <img class="boton__img" src="/img/icons/infor.svg" alt="" />
              <div class="informativo">Selecciona tu tipo de DNI</div>
            </div>
            <div class="mobile__boton">
              <button class="boton__principal">Empezar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
