<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/prestacard-qr.css" />
    <title>Prestacard QR</title>
  </head>
  <body>
    <div class="container__main">
      <div class="header">
        <div class="navbar">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />
          <ul class="nav__menu">
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/home.svg" /><a
                href="#"
                class="nav__link"
                >Inicio</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/document.svg" /><a
                href="#"
                class="nav__link"
                >Boletas</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__user" src="/img/icons/card.svg" /><a
                href="#"
                class="nav__link"
                >PrestaCard</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="container__principal">
        <div class="options__user">
          <img class="boton__user" src="/img/icons/arrow-down.svg" />
          <div class="user">
            <p class="h3">Valeria Paola Coell...</p>
            <!-- <p class="view__profile">Ver perfil</p> -->
          </div>
          <img class="boton__perfil" src="/img/icons/boton-user.svg" />
        </div>
        <div class="user_options">
          <div>
            <h1 class="title">PrestaCard</h1>
            <p class="message">Te prestamos s/300 para tus compras.</p>
          </div>
        </div>

        <div class="prestamo">
          <div class="prestamo__contenedor">
            <div class="cabecera__qr">
              <img src="/img/qr.svg" />
              <p>Tomaremos una foto de tu rostro y DNI.</p>
            </div>
            <div class="contenedor__qr">
              <div class="prestamo__item">
                <img src="/img/icons/light.svg" />
                <p>Ir a un ambiente iluminado.</p>
              </div>
              <div class="prestamo__item">
                <img src="/img/icons/card.svg" />
                <p>Tener DNI al alcance.</p>
              </div>
              <div class="prestamo__item">
                <img src="/img/icons/eye.svg" />
                <p>Retirar mascarilla, lentes o gorra.</p>
              </div>
            </div>
          </div>

          <div class="resumen__contenedor">
            <h1 class="resumen__pasos">3/3</h1>
            <h2 class="resumen__mensaje">
              Escanea el QR y verifica tu identidad
            </h2>

            <div class="container__boton">
              <img class="boton__user" src="/img/icons/arrow-left.svg" />
              <button class="boton__principal">Continuar</button>
            </div>
            <div class="opcion__centrada">
              <a>Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
