<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/boletas.css" />
    <title>Boletas</title>
  </head>
  <body>
    <div class="container__main">
      <div class="header">
        <div class="navbar">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />
          <ul class="nav__menu">
            <li class="nav__menu__item">
              <img class="boton__img" src="/img/icons/home.svg" /><a
                href="#"
                class="nav__link"
                >Inicio</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__img" src="/img/icons/document.svg" /><a
                href="#"
                class="nav__link"
                >Boletas</a
              >
            </li>
            <li class="nav__menu__item">
              <img class="boton__img" src="/img/icons/card.svg" /><a
                href="#"
                class="nav__link"
                >PrestaCard</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="container__principal">
        <div class="options__user">
          <img class="boton__img" src="/img/icons/arrow-down.svg" />
          <div class="user">
            <p class="h3">Valeria Paola Coell...</p>
            <!-- <p class="view__profile">Ver perfil</p> -->
          </div>
          <img class="boton__perfil" src="/img/icons/boton-user.svg" />
        </div>
        <div class="mobile__header">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />

          <img class="boton__menu" src="/img/icons/boton-hamburguesa.svg" />
        </div>
        <div class="user__options">
          <div>
            <h1>Boletas</h1>
            <p class="message">Descarga o envía tus boletas de pago.</p>
          </div>

          <div class="container__boton">
            <button class="boton__invert">Enviar</button>

            <button class="boton__principal">Descargar Julio</button>
          </div>
          <img class="imgsolicitud" src="/img/icons/voucher.svg" alt="" />
        </div>

        <div class="mobile__voucher">
          <div>
            <h1>Boletas</h1>
            <p class="message">Descarga o envía tus boletas de pago.</p>
          </div>
          <img class="imgsolicitud" src="/img/icons/voucher.svg" alt="" />
        </div>

        <div class="boleta">
          <div class="prestamo__titulo">
            <h3 class="detalle__titulo">2002</h3>
            <button class="boton__filtro">FILTRAR</button>
          </div>
          <div class="boletas__cabecera">
            <p>MES</p>
            <p>CONTENIDO</p>
            <p class="item__derecha">MONTO</p>
          </div>
          <div class="boletas__contenedor">
            <div class="boletas__item">
              <h3 class="item__titulo">Julio</h3>
              <div class="boletas__item__informacion">
                <img class="imgrequest" src="/img/icons/plus.svg" alt="" />

                <p class="boletas__item__details item__subtitulo color__gray">
                  VACACIONES
                </p>
                <p class="boletas__item__details item__subtitulo color__gray">
                  GRATIFICACION
                </p>
                <p class="boletas__item__details item__subtitulo color__gray">
                  LIQUIDACION
                </p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/5,700</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Junio</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Mayo</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Abril</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Marzo</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Febrero</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile__boleta">
          <div class="prestamo__titulo">
            <h3 class="detalle__titulo">2002</h3>
            <button class="boton__filtro">FILTRAR</button>
          </div>
          <div class="boletas__cabecera">
            <p>MES</p>
            <p>CONTENIDO</p>
            <p class="item__derecha">MONTO</p>
          </div>
          <div class="boletas__contenedor">
            <div class="boletas__item">
              <h3 class="item__titulo">Julio</h3>
              <div class="boletas__item__informacion">
                <img class="imgrequest" src="/img/icons/plus.svg" alt="" />

                <p class="boletas__item__details item__subtitulo color__gray">
                  VACAS
                </p>
                <p class="boletas__item__details item__subtitulo color__gray">
                  GRATI
                </p>
                <p class="boletas__item__details item__subtitulo color__gray">
                  LIQUI
                </p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/5,700</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Junio</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Mayo</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Abril</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Marzo</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="boletas__item">
              <h3 class="item__titulo">Febrero</h3>
              <div class="boletas__item__informacion">
                <p class="item__subtitulo color__gray">SOLO HABERES</p>
              </div>
              <div class="item_seleccion">
                <h3 class="item__titulo item__central">s/1,900</h3>
                <label>
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
