<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/filters.css" />
    <title>filters</title>
  </head>
  <body>
    <div class="container__filters">
      <div class="title">
        <div class="title__item">FILTRAR</div>
        <div class="close">X</div>
      </div>
      <div class="container__filters__items">
        <div class="filter__menu__item">2022</div>
        <div class="filter__menu__item">2021</div>
        <div class="filter__menu__item">2020</div>
        <div class="filter__menu__item">2019</div>
      </div>
      <button class="boton__principal">Aceptar</button>
    </div>
  </body>
</html>
