<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Proyecto Vega</title>
  </head>
  <body>
    <div class="container__login">
      <header class="header__access">
        <img
          class="logo__access"
          src="/img/logo.svg"
          alt="Logo de Corporación Vega"
        />
      </header>
      <div class="container__access">
        <h1 class="title">Bienvenido(a) a Vega</h1>
        <form class="form">
          <div class="form__container">
            <div class="form__group">
              <input
                class="login"
                type="text"
                id="login"
                name="login"
                required
                placeholder=" "
              />
              <label class="form__label" for="login">Correo o DNI</label>
            </div>
            <div class="form__group">
              <input
                class="clave"
                type="password"
                id="clave"
                name="clave"
                required
                placeholder=" "
              />
              <label class="form__label" for="clave">Contraseña</label>
            </div>
            <button class="boton__principal">Ingresar</button>
          </div>
        </form>
        <div class="container__image">
          <img
            class="usuario__office"
            src="/img/usuario.svg"
            alt="Usuario de Corporación Vega"
          />
        </div>
      </div>
    </div>
  </body>
</html>
