<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cancelacion.css" />
    <title>Cancelación</title>
  </head>
  <body>
    <div class="container__main">
      <div class="container__principal">
        <div class="mobile__header">
          <img
            class="logo__access"
            src="/img/logo.svg"
            alt="Logo de Corporación Vega"
          />

          <img class="boton__menu" src="/img/icons/boton-hamburguesa.svg" />
        </div>
        <div class="boton__cancelar">
          <div class="informa">
            <img class="boton__img" src="/img/icons/infor-white.svg" alt="" />
            <div class="informativo">¿Deseas cancelar la solicitud?</div>
          </div>
          <img class="imgsolicitud" src="/img/icons/movil.svg" alt="" />
          <div class="botones__opciones">
            <button class="boton__invert">Cancelar solicitud</button>
            <button class="boton__principal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
